<footer>
<p>
  Der Code stammt ursprünglich von <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>, das Repo liegt bei <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
<p>
  <a href="/impressum">Impressum</a> | Die Seite wurde generiert am {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
